@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
      background-color: black;
      color: white;
  }
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.terminal {
  white-space: pre-line;
  padding: .5rem 1rem 1rem 1rem;
  min-height: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* background-color: aqua; */
}

.prompt {
  display: inline-block;
}

.terminal input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0 0 0 8.5px;
  /* background-color: blueviolet; */
  width: 42%;
}

.terminal textarea:focus, input:focus{
  outline: none;
}

.terminal label, .terminal input[type=text] {
  display: inline-block;
}

.terminal p {
  display: inline;
}

span, form, form > label, form > input, p, pre, div, a, strong {
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* themes */
/* dark */
.dark {
  background-color: #1d1f21;
  color: #969896
}

.dark .path {
  color: #3971ed;
}

.dark .highlight {
  color: #0cebd0;
}

.dark .link {
  color: #2ac97b;
}

.dark-prompt {
  color: #198844;
}

/* ubuntu */
.ubuntu {
  background-color: #300a24;
  color: #fff
}

.ubuntu .path {
  color: #719bd2;
}

.ubuntu .highlight {
  color: #4b4aec;
}

.ubuntu .link {
  color: #85de33;
}

.ubuntu-prompt {
  color: #a1d45e;
}

/* matrix */
.matrix {
  background-color: #000100;
  color: #01d000
}

.matrix .path {
  color: #89eafe;
}

.matrix .highlight {
  color: #4c8b4e;
}

.matrix .link {
  color: #82f68b;
}

.matrix-prompt {
  color: #7ed22c;
}

/* dracula-dark */
.dark-dracula {
  background-color: #282a37;
  color: #f8f9f2
}

.dark-dracula .path {
  color: #82f68b;
}

.dark-dracula .highlight {
  color: #50fb7b;
}

.dark-dracula .link {
  color: #01d000;
}

.dark-dracula-prompt {
  color: #bd93fa;
}

/* solar */
.solar {
  background-color: #fdf6e3;
  color: #6d8288
}

.solar .path {
  color: #6d8288;
}

.solar .highlight {
  color: #73951d;
}

.solar .link {
  color: #5f8700;
}

.solar-prompt {
  color: #2697fb;
}

